/* Make a header with a backdrop of the team o just for the header */
body {
    background: #1B1D38;
    background: -webkit-linear-gradient(bottom, #1B1D38, #E9833C);
    background: -moz-linear-gradient(bottom, #1B1D38, #E9833C);
    background: linear-gradient(to top, #1B1D38, #E9833C);  
}   
/* header with logo and name */
header img {
    height: 120px;
    width: 160px;
    float: left;
    margin-left: 50px;
    margin-top: -84px;
}
header img:hover {
        opacity: .4;
}
header h1 {
    float: left;
    padding: 0px 0px 19px 0px;
    font-size: 19px;
    margin-left: -20px;
    margin-top: 0px;
    color: #1B1D38;
}
/* nav list */
nav li {
    display: inline;
    list-style-type: none;
    text-emphasis: none;
    }
    nav {
        margin-top: 200px;
        margin-left: 70%;
    }
    .button {
        float: left;     
        font-size: 29px;
        text-align: center;
        text-decoration: none;
        border: 1px solid;
        background-color: #fa6800;
        border-radius: 90px;
        height: 40px;
        width: 130px;
        padding: 0px 0px 0px 0px;
        margin: -40px 10px 0px 0px;
}
 /* end of nav */
/* link decorations */
    a:link{
        text-decoration: none;
        color: black;

    }
    a:visited {
        text-decoration: none;
        color: black;
      }
      
      .button:hover {
        text-decoration: none;
        color: white
      }
      
      a:active {
        text-decoration: none;
      }
    /* end of link decoration */

/* line split */
.banner {
    width: 99%;
    background: rgb(245,200,168);
    background: linear-gradient(106deg, rgba(245,200,168,1) 0%, rgba(43,47,103,1) 73%);
    padding-top: 100px;
    border-radius: 5px;
    position: relative;
    top: -69px;
    left: 10px;
    z-index: -1;
}
/* end of line */
/* fly */
.fly {
    width: 99%;
    height: 350px;
    margin-top: -80px;
    margin-left: 10px;
    border-radius: 15px;
}

/* adding a big white box */
.box {
    height: 800px;
    width:95%;
    border: transparent 1px;
    border-radius: 3px;
    background-color: blanchedalmond;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
/* Heading */
h1 {
    text-align: center;
    font-size: 50px;
}
/* video*/
.vid {
    float: right;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin-right: 30px;
    
}
.vid:before{
    display: block;
    content: "";
    
}
iframe {
    -webkit-border-radius: 15px;
     border-radius: 15px;
}





/* contact form */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; 
    padding: 20px; 
    border: 3px solid #1B1D38;
    border-radius: 5px;
    box-sizing: border-box; 
    margin-top:10px; 
    margin-bottom: 16px;
    margin-left: 0px;
    resize: vertical;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #fa6800;
    color: white;
    padding: 12px 25px;
    border: solid black;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 560px;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #1B1D38;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 15px;
    background-color: #E9833C;
    padding: 30px;
    width: 40%;
    margin-top: 5px;
    resize: vertical;
    border: #1B1D38 solid;
    margin-left: 30px;
  }
  h2 {
      text-align: center;
  }
/* contact form end */
/* foooter */
footer {
    width: 99%;
    height:150px;
    margin-top: 10px;
    background-color: coral;
    border-radius: 15px;
    margin-left: 9px;
    padding-top: 20px;
}
footer .name {
    margin-left: 42.6%;
    margin-right:0px;
    margin-top: 0px;
    font-size: 30px;
    display: inline;
}
.youtube:hover {
    opacity: .4;
}
.insta:hover {
    opacity: .4;
}
.twitter:hover {
    opacity: .4;
}
.social {
    display: inline;
    margin-top: 100%;
    list-style-type: none;
    border: transparent;
}
.social li {
    display: inline-block;
    list-style-type: none;
    object-position: center;
    margin-left: 24px;
}
 .social img{
     height: 55px;
     width: 55px;
 }
.insta {
    display: inline-block;
    width: 50px;
    margin-left: auto;
}
.social ul  {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: transparent;
}
.social li .youtube {
    height: 60px;
    width: 60px;
    border: transparent;
}